body, ul, li p {
    margin: 0px;
    padding: 0;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: Arial;
}
@media screen and (max-width: 768px) {
    .topo{
        flex-direction: column;
    }
    .menu li {
        margin-left: 30px;
    }
}
a {
    text-decoration: none;
    color: #ffffff;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
img {
    max-width: 100%;
    display: block;
}
.topo {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
    /*background: tomato;*/
}
/*CSS FLEXBOX*/
.flexbox {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; /* limitando o tamanho que minhas divs vão ocupar na tela */
    margin: 0 auto;
}
.flexbox > div {
    flex: 1 1 200px;/* flex: 0 1 200px; com flex 0 todos ficam com tamanhos iguais. Se fosse flex: 1 1 200px; com o valor 1, eles se adaptariam expandindo ou ficando menor de acordo com o tamanho da tela. E indicar dentro da classe pai que ele pode efetuar a quebra de linha (flex-wrap: wrap;). Respeitando sempre o limite de tamanho que passei pra ele */
    margin: 0 10px;
}
/*CSS GRID 1*/
